<app-header></app-header>
<div class="relative h-1/2 md:h-[43rem] flex overflow-hidden">
    <div class="grid grid-cols-2 relative">
      <!-- Overlay with filter -->
      <div class="md:bg-contain relative">
        <img src="assets/img/bg-header-2.jpg" class="h-full w-full" alt="">
        <div class="absolute inset-0 bg-black opacity-25 filter brightness-75"></div>
      </div>
      <div class="md:h-full md:bg-contain bg-center relative">
        <img src="assets/img/bg-header-1.jpg" class="w-full h-full" alt="">
        <div class="absolute inset-0 bg-black opacity-50 filter brightness-75"></div>
      </div>
      <!-- Rest of your content -->
      <div class="absolute inset-x-[15%] bottom-28 md:bottom-72 py-5 text-center text-white md:block">
        <h5 class="text-xl md:text-4xl text-white font-['Assistant']">Browse our latest products</h5>
        <button>Shop now</button>
      </div>
    </div>
  </div>
  