<app-header></app-header>
<div class=" md:h-[750px] flex overflow-hidden mb-4" data-aos="fade" data-aos-duration="3000">
  <div class="grid grid-cols-2 relative">
    <!-- Overlay with filter -->
    <div class="md:bg-contain relative">
      <img src="assets/img/bg-header-2.jpg" class="h-full w-full" alt="">
      <div class="absolute inset-0 bg-black opacity-25 filter brightness-75"></div>
    </div>
    <div class="md:h-full md:bg-contain bg-center relative">
      <img src="assets/img/bg-header-1.jpg" class="w-full h-full" alt="">
      <div class="absolute inset-0 bg-black opacity-50 filter brightness-75"></div>
    </div>
    <div class="absolute inset-x-[15%] bottom-28 md:bottom-72 py-5 text-center text-white md:block font-['Assistant']"
      >
      <h5 class="text-xl md:text-4xl text-white " data-aos="fade-up" data-aos-duration="1000">Browse our latest products</h5>
      <button class="border border-white px-4 py-2 mt-2" data-aos="fade-up" data-aos-duration="1000">Shop now</button>
    </div>
  </div>
</div>
<div class="my-7 container mx-auto " >
  <h1 class="text-3xl text-[#121212] pl-1 font-semibold md:text-4xl md:font-bold tracking-wider" data-aos="fade-up" data-aos-duration="1000">Japanese Street Fashion
  </h1>
  <div class="flex mx-auto items-center justify-center w-full h-full">
    <div class="w-full relative flex items-center justify-center mt-2">
      <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
        <div id="slider" class="h-full flex  items-center justify-start transition ease-out duration-700">
          <div *ngFor="let product of products"
            class="flex flex-shrink-0 relative w-full sm:w-auto md:px-1 px-[-20px] font-['Assistant']">
            <div class=" mx-auto" data-aos="fade-up" data-aos-duration="1000">
              <img [src]="product.imageUrl" class="object-cover object-center  h-48 w-full md:h-64 md:w-64" />
              <!-- <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">{{product.name}}</h2>
             <h3 class="md:text-[10px] text-gray-700">{{product.brand}}</h3>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">{{product.price | currency : 'Php '}}</h3>
            </div>
          </div> -->
              <div class=" bg-white pt-3 text-center md:text-start">
                <h3 class="text-sm font-normal text-gray-700 group-hover:underline group-hover:underline-offset-4">
                  {{product.name}}
                </h3>
                <h3 class="text-[10px] text-gray-700">{{product.brand}}</h3>
                <p class="pt-2">
                  <span class="tracking-wider text-gray-900">{{product.price | currency : 'Php '}} </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center mt-4">
    <button type="button" class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none"
      data-carousel-prev (click)="goPrev()">
      <span
        class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none"
      data-carousel-next (click)="goNext()">
      <span
        class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>