<app-header></app-header>
<div class=" md:h-[750px] flex overflow-hidden mb-4" data-aos="fade" data-aos-duration="3000">
  <div class="grid grid-cols-2 relative">
    <!-- Overlay with filter -->
    <div class="md:bg-contain relative">
      <img src="assets/img/bg-header-2.jpg" class="h-full w-full" alt="">
      <div class="absolute inset-0 bg-black opacity-25 filter brightness-75"></div>
    </div>
    <div class="md:h-full md:bg-contain bg-center relative">
      <img src="assets/img/bg-header-1.jpg" class="w-full h-full" alt="">
      <div class="absolute inset-0 bg-black opacity-50 filter brightness-75"></div>
    </div>
    <div class="absolute inset-x-[15%] bottom-28 md:bottom-72 py-5 text-center text-white md:block font-['Assistant']">
      <h5 class="text-xl md:text-4xl text-white " data-aos="fade-up" data-aos-duration="1000">Browse our latest products
      </h5>
      <button class="border border-white px-4 py-2 mt-2" data-aos="fade-up" data-aos-duration="1000">Shop now</button>
    </div>
  </div>
</div>

<app-product-catalog [products]="catalogJapanese" [catalogTitle]="'Japanese Street Fashion'"></app-product-catalog>
<app-product-catalog [products]="catalogSkatewear" [catalogTitle]="'Skatewear Collections'"></app-product-catalog>
<app-product-catalog [products]="catalogTeddyBear" [catalogTitle]="'Teddy Bear Collections'"></app-product-catalog>
<!-- <app-product-catalog [products]="catalogCars" [catalogTitle]="'Cars Collections'"></app-product-catalog>
<app-product-catalog [products]="catalogHipHopArtists" [catalogTitle]="'Hip Hop Artists Collections'"></app-product-catalog>
<app-product-catalog [products]="catalogUrban" [catalogTitle]="'Urban Collections'"></app-product-catalog>
<app-product-catalog [products]="catalogRenaissance" [catalogTitle]="'Renaissance Collections'"></app-product-catalog>
<app-product-catalog [products]="catalogHypeBeasts" [catalogTitle]="'HypeBeasts Collections'"></app-product-catalog> -->

  